<form method="post" action="{{ path('app_add_qte_produit_panier', {'id': ligneProduit.produit.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('addQteToPanier' ~ ligneProduit.produit.id) }}">
    <button class="btn">+</button>
</form>