{% extends 'base.html.twig' %}

{% block main %}
    <div class="container h-75 responsive-panier mt-5 p-5">
        {% if not app.user %}
            <h2>Vous devez vous connecter pour accéder à un panier.</h2>
            <div class="button-empty">
            <a href="{{ path('app_login') }}" class="btn button-nl m-3">Se connecter</a>
            <a href="{{ path('app_index') }}" class="btn btn-secondary m-3">Retour à la sélection des produits</a>
            </div>
            {% else %}
            <h1>Panier Vide</h1>
        <p>Votre panier est actuellement vide.</p>
        <!-- Vous pouvez ajouter un bouton ou un lien pour rediriger vers la page d'accueil -->
        <a href="{{ path('app_index') }}" class="btn btn-primary">Retour à la sélection des produits</a>
        {% endif %}
    </div>
{% endblock %}