{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block main %}


    
    {% for ligneProduit in produits %}
    
    <img src='{{ ligneProduit.photo.URLPhoto }}' alt='' class='img-panier'/>
        
        {{ ligneProduit.produit.libelle }}
        {{ ligneProduit.produit.description }}
        {{ ligneProduit.qte }}

    {% endfor %}
</div>
{% endblock %}
