{% extends 'base.html.twig' %}

{% block title %}Creation de Produit{% endblock %}

{% block main %}

<div>
    <h1>crée mon produit</h1>
    <a href="{{ path("app_index") }}">retour home</a>
    <a href="{{ path('app_produit') }}">Vers mes produits</a>

     <form action="{{ path("app_createProduit") }}" method="post">
        <label for="libelle">Libelle</label>
        <input type="text" name="libelle" placeholder="libelle" id="libelle">
        <label for="description">Description</label>
        <input type="string" name="description" placeholder="description" id="description">
         <label for="prixHt">PrixHt</label>
        <input type="text" name="prixHt" placeholder="prixHt" id="prixHt">
        <input type="submit" value="envoyer">

    <form>

    <p>{{ message }}</p>

</div>
{% endblock %}