{% extends 'base.html.twig' %}

{% block title %}Hello COmmandeController!{% endblock %}

{% block main %}

<h2>Votre mode de livraison</h2>
{% for livraison in livraisons %}
<label for='livraison{{livraison.id}}'>{{livraison.libelle}}</label>
<input type="radio" name="livraison{{livraison.id}}" id="livraison{{livraison.id}}" ">
{% endfor %}
{% endblock %}
