<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
    {% block header %}
    {% block nav %}
    <nav>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if  is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_admin_logout') }}">Déconnectez-vous</a>
    {% else %}
    <a href="{{ path('app_logout') }}">Déconnectez-vous</a>
    {% endif %}
    {% endif %}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('app_login') }}">Connectez-vous</a>
{% endif %}
    {% endblock %}
    {% endblock %}
    </nav>
        {% block main %}{% endblock %}
    </body>
</html>
