{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block main %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
{% for item in categorie %}
<ul>
   <li> {{ item.libelle }}</li>
    <li>{{ item.description }}</li>
    
    </ul>
    {% endfor %}
</div>
{% endblock %}
