{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block main %}

<div class="example-wrapper">
{% for categorie in categories %}
<ul>
   <li> {{ categorie.libelle }}</li>
    <li>{{ categorie.description }}</li>
    
    </ul>
    {% endfor %}
</div>
{% endblock %}
