<form method="post" action="{{ path('app_delete_adresse', {'id': item.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette adresse ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="btn">Supprimer</button>
</form>
