{% extends 'base.html.twig' %}


{% block main %}
    <div class="container">
        <h1>Vous n'avez aucune commande</h1>
        <p>Aucune commande n'a été actuellement passé</p>
        
        <!-- Vous pouvez ajouter un bouton ou un lien pour rediriger vers la page d'accueil -->
        <a href="{{ path('app_index') }}" class="btn btn-primary">Dirigez vous vers la sélection des produits</a>
    </div>
{% endblock %}