{% extends 'base.html.twig' %}

{% block title %}Information compte{% endblock %}

{% block main %}    

    <h1> {{ title }} </h1>
    
    <a href="{{ path('app_user_account', { 'id': users.id })}}"><div class="card" style="width: 18rem;">
    
    <div class="card-body">
    <h5 class="card-title">Information personelles</h5>
  </div></a>

{% endblock %}
