{% extends 'base.html.twig' %}

{% block title %}Information compte{% endblock %}

{% block main %}    

    <h1 class="text-center my-5"> {{ title }} </h1>
    <div class ="d-flex justify-content-center gap-5">
    <a href="{{ path('app_user_account', { 'id': users.id })}}" class="text-decoration-none">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title text-center ">Information personnelles</h5>
    </div>
  </div></a>
{% if users is null  %}
  <a href="{{ path('app_create_adresse')}}" class="text-decoration-none">
  <div class="card" style="width: 18rem;">
  {% else %}
  <a href="{{ path('app_list_adresse')}}" class="text-decoration-none"><div class="card" style="width: 18rem;">
  {% endif %}
    <div class="card-body">
    <h5 class="card-title text-center ">Adresse</h5>
    </div>
  </div></a>
</div>

    
   
{% endblock %}
